extends ../_layout.pug
block content
    h2 Add New Project

    form(action='addproject', method='POST')
        .container
            .row
                .col-sm-7
                    Label Title
                    p(style='color:red;display:inline') *
                    input.form-control(type='text', name='title')
            .row
                .col-sm-7
                    Label Categories (comma seperated)
                    input.form-control(type='text', name='categories')
            .row
                .col-sm-7
                    Label Keywords (comma seperated)
                    input.form-control(type='text', name='keywords')
            .row
                .col-sm-7
                    Label Date
                    input.form-control(type='date', id="date", name='date')
            .row
                .col-sm-7
                    Label Short Description
                    p(style='color:red;display:inline') *
                    textarea.form-control(name='shortDescription', rows="2", cols="82")
            .row
                .col-sm-7
                    Label Long Description
                    p(style='color:red;display:inline') *
                    textarea.form-control(name='longDescription', oninput='run()', id="sourceTA", rows="10", cols="82" style='white-space: pre-wrap;')
            .row
                .col-sm-7
                    Label Image
                    p(style='color:red;display:inline') *
                    input.form-control(type='text', name='image')
            br
            input.btn.btn-primary(type='submit', value='Add Post')

    br
    hr
    div(id="targetDiv")
    script(src='/bower_components/showdown/dist/showdown.min.js')
    script
        include ../js/updateMarkdownView.js
    script.
        document.getElementById('date').valueAsDate = new Date()