footer.page-footer.font-small.footer-bar
  .text-center.py-3
    ul.list-inline(style='list-style:none')
        li.list-inline-item
            a(href='https://www.facebook.com/james.studd.56')
                img(src='/img/facebook.png', style='width:32px; height:32px;')
        li.list-inline-item
            a(href='https://www.instagram.com/james.studd/')
                img(src='/img/instagram.png', style='width:32px; height:32px;')
        li.list-inline-item
            a(href='https://www.linkedin.com/in/james-studd-793947112/')
                img(src='/img/linkedin.png', style='width:32px; height:32px;')
        li.list-inline-item
            a(href='mailto:james.studd@live.co.uk')
                img(src='/img/mail.png', style='width:32px; height:32px;')
        li.list-inline-item
            a(href='https://steamcommunity.com/id/VoxFen/')
                img(src='/img/steam.png', style='width:32px; height:32px;')
        li.list-inline-item
            a(href='https://twitter.com/PonteMassive')
                img(src='/img/twitter.png', style='width:32px; height:32px;')
    a(href='http://doc.huseyincakir.org/', style='font-size: 16px; color: #3a3f47')  Icons by Hüseyin Çakır
