footer.page-footer.font-small.footer-bar

  style(type='text/css').
        .social {
            width: 32px;
            height: 32px;
        }

  .text-center.py-3
    ul.list-inline(style='list-style:none')
        li.list-inline-item
            a(href='https://www.facebook.com/james.studd.56')
                img.social(src='/img/facebook.png')
        li.list-inline-item
            a(href='https://www.instagram.com/james.studd/')
                img.social(src='/img/instagram.png')
        li.list-inline-item
            a(href='https://www.linkedin.com/in/james-studd-793947112/')
                img.social(src='/img/linkedin.png')
        li.list-inline-item
            a(href='mailto:james.studd@live.co.uk')
                img.social(src='/img/mail.png')
        li.list-inline-item
            a(href='https://steamcommunity.com/id/VoxFen/')
                img.social(src='/img/steam.png')
        li.list-inline-item
            a(href='https://twitter.com/PonteMassive')
                img.social(src='/img/twitter.png')
        li.list-inline-item
            a(href='https://github.com/JamesStudd')
                img.social(src='/img/github.png')
    a(href='http://doc.huseyincakir.org/', style='font-size: 16px; color: #3a3f47')  Icons by Hüseyin Çakır
