nav.navbar.navbar-light.navbar-expand-lg.justify-content-center.navigation-bar
    a.navbar-brand.d-flex.w-50.mr-auto
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsingNavbar3')
        span.navbar-toggler-icon
    #collapsingNavbar3.collapse.navbar-collapse.w-100.flex-grow-1
        ul.navbar-nav.w-100.justify-content-center
            if user
                li.nav-item
                    a.nav-link(href='/blog/addpost') Add Post
                li.nav-item
                    a.nav-link(href='/projects/addproject') Add Project
            li.nav-item
                a.nav-link(href='/blog') Blog
            li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Projects
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='/projects') All Projects
                    .dropdown-divider
                    if titles
                        each title in titles
                            a.dropdown-item(href='/projects/'+title) #{title}
            li.nav-item
                a.nav-link(href='/about') About
        ul.nav.navbar-nav.ml-auto.w-100.justify-content-end
            form.form-inline(action='/search', method='GET')
                input.form-control.form-control-md(type='search', style='width:150px;' placeholder='Search query', aria-label='Search', name='query', title='Enter a title, keyword or category to search for', alt='Enter a title, keyword or category to search for')
                div
                    label.navCheck(for="blogCheck", style="display:block;padding-left:15px;padding-right:15px;")
                        input#blogCheck.form-check-input(type='checkbox', name="blog" checked)
                        | Blog

                    label.navCheck(for="projectCheck", style="display:block;padding-left:15px;padding-right:15px;")
                        input#projectCheck.form-check-input(type='checkbox', name="project" checked)
                        | Project
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
