nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/') Home
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/blog') Blog
            if user
                li.nav-item
                    a.nav-link(href='/blog/addpost') Add Post
            li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Projects
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='#') All Projects
                    .dropdown-divider
                    a.dropdown-item(href='#') Project One
                    a.dropdown-item(href='#') Project Two
        form.form-inline.my-2.my-lg-0(action='/blog/search', method='GET')
            input.form-control.mr-sm-2(type='search', placeholder='Search Blog Posts', aria-label='Search', name='query', title='Enter a title, keyword or category to search for', alt='Enter a title, keyword or category to search for')
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search