extends _layout.pug
block content
    style(type='text/css').
        #home {
            width: 60%;
            background: #ecf0f1;
            margin: auto;
            text-align: center;
            border-radius: 5px;
        }

    h1.page-title James Studd
    div#home
        p
            | The blog and portfolio of James Studd
        if post
            p
                | Latest blog post: 
                a(href=post.link) #{post.title}
        if project
            p
                | Latest project: 
                a(href=project.link) #{project.title}