extends _layout.pug
block content
    style(type='text/css').
    h1.page-title Home
    div#display-home
        p
            | The blog and portfolio of James Studd
        if post
            p
                | Latest blog post: 
                a(href="/blog/"+post.link) #{post.title}
        if project
            p(style='margin-bottom:0px')
                | Latest project: 
                a(href="/projects/"+project.link) #{project.title}