extends _layout.pug
block content
    article
        if document.categories && document.categories.length > 0 && document.categories[0] != ""
            p(style='display:inline;margin-right:5px;') Categories:
            each category in document.categories
                a(href='/search?query='+category+'&blog=\'on\'', style='margin-right:5px;')= category
            br
        if document.keywords && document.keywords.length > 0 && document.keywords[0] != ""
            p(style='display:inline;margin-right:5px;') Keywords:
            each keyword in document.keywords
                a(href='/search?query='+keyword+'&blog=\'on\'', style='margin-right:5px;')= keyword
        p !{document.parsedHtml}
    if user
        form(action='/'+type+'/'+document.title, method='POST')
            input.btn.btn-danger(type='submit', value='Delete')
