.date {
    margin: 0;
    padding: 0;
    text-align: center;
}
.single-post {
    background: #ecf0f1;
    margin: auto auto 10px auto;
    border-radius: 5px;
    border: 1px solid #738EAB;
    height: 60px;
    width: 60%;
    display: flex;
}

.single-post h2 {
    font-size: 1.5em;
    margin: auto 0 auto 10px;
    max-width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media only screen and (max-width: 800px) {
    .single-post {
        width: 85%;
    }

    .single-post h2 {
        font-size: 0.9em;
    }

    .single-post p {
        font-size: 0.8em;
    }
}

.single-post h2 a {
    color: #1D3461;
}