extends ../_layout.pug
block content
    h2 Add new post

    form(action='addpost', method='POST')
        .container
            .row
                .col-sm-7
                    Label Title
                    p(style='color:red;display:inline') *
                    input.form-control(type='text', name='title')
            .row
                .col-sm-7
                    Label Categories (comma seperated)
                    input.form-control(type='text', name='categories')
            .row
                .col-sm-7
                    Label Keywords (comma seperated)
                    input.form-control(type='text', name='keywords')
            .row
                .col-sm-7
                    Label Body
                    p(style='color:red;display:inline') *
            .row
                .col-sm-7
                    textarea.form-control(name='body', oninput='run()', id="sourceTA", rows="10", cols="82" style='white-space: pre-wrap;')
            br
            input.btn.btn-primary(type='submit', value='Add Post')

    br
    hr
    div(id="targetDiv")
    script(src='/bower_components/showdown/dist/showdown.min.js')
    script
        include updateMarkdownView.js