extends ../_layout.pug
block content
    h1.page-title Blog
    link(rel='stylesheet', href='/css/listPosts.css')

    if posts
        each post in posts
            article.single-post
                h2
                    a(href='/blog/'+post.link)= post.title
                p.stick-right
                    | #{moment(post.date).format('DD/MM/YYYY')}
