extends ../_layout.pug
block content
    h1 Node Blog

    if posts
        each post in posts
            article
                a(href='/blog/'+post.title)= post.title
                | - Written #{post.date}
