extends ../_layout.pug
block content
    h1.page-title Node Blog

    if posts
        each post in posts
            article
                a(href='/blog/'+post.title)= post.title
                | - #{moment(post.date).format('DD/MM/YYYY')}
