extends ../_layout.pug
block content
    article
        if post.categories
            p(style='display:inline;margin-right:5px;') Categories:
            each category in post.categories
                a(href='search?query='+category, style='margin-right:5px;')= category
            br
        if post.keywords
            p(style='display:inline;margin-right:5px;') Keywords:
            each keyword in post.keywords
                a(href='search?query='+keyword, style='margin-right:5px;')= keyword
        p !{post.parsedHtml}
