@import "./variables/sizes";

.header {
	h1,
	h2,
	p {
		position: absolute;
		z-index: 2;
		left: 50%;
		top: $header-height / 2;
		color: white;
	}

	h1 {
		transform: translate(-50%, -$header-height / 2);
	}

	h2 {
		transform: translate(-50%, -$header-height / 2.5);
	}

	p {
		transform: translate(-50%, -$header-height / 5);
	}
}
