@import './variables/colors';
@import './variables/fonts';

#highlightedProject {
    margin-top: 10px;
    width: 100%;
    border: 1px solid black;
    background-color: $light-background-accent;
    color: white;
    font-family: $font-roboto;

    #closeButton {
        float: right;
    }

    #projectInfo {
        text-align: center;
    }

    #imageContainer {
        text-align: center;
        img {
            width: 30vw;
            height: auto;
        }
    }

    #projectDesc {
        margin-top: 2vh;
        width: 60%;
        translate: 30%;
        text-align: center;
    }
}